<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALXCXwCARef7lz6uGw8u0tjPJ-ibnxXhw</string>
	<key>GCM_SENDER_ID</key>
	<string>59718903219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.soliu.MentalHealth</string>
	<key>PROJECT_ID</key>
	<string>mentalhealthapp-7354c</string>
	<key>STORAGE_BUCKET</key>
	<string>mentalhealthapp-7354c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59718903219:ios:76e5d89027494e6d3517c6</string>
	<key>DATABASE_URL</key>
	<string>https://mentalhealthapp-7354c-default-rtdb.firebaseio.com</string>
</dict>
</plist>